### Create CSV file for product selling for 6 Months ( Prod_No | Prod_Name | Jan | Feb | Mar | Apr | May | Jun) for 5 products.

In [2]:
import csv

In [3]:
import pandas as pd

In [5]:
header=['Product_No','Product_Name','Jan','Feb','Mar','Apr','May','Jun']

In [7]:
with open("C:\\sqlite3\\csv\\selling.csv","w",newline='') as csvfile:
    data=csv.writer(csvfile)
    data.writerow(header)

### Add 12 Records. by taking input from user.

In [9]:
l=[]

In [ ]:
with open("c:\\sqlite3\\csv\\selling.csv",'a',newline="") as file:
    insert =csv. writer(file)
    for i in range(12):
        prod_no = int(input("Enter Product Number: "))
        prod_name = input("Enter Product Name: ")
        jan = int(input("Enter January Sales: "))
        feb = int(input("Enter February Sales: "))
        mar = int(input("Enter March Sales: "))
        apr = int(input("Enter April Sales: "))
        may = int(input("Enter May Sales: "))
        jun = int(input("Enter June Sales: "))
        data=[product_no,product_name,jan,feb,mar,apr,may,jun]
        l.append(data)
    insert.writerows(l)

### Change Column Name Product No, Product Name, January, February, March, April, May, June.

In [ ]:
df=pd.header=['Product_NO','Product_Name','January','February','March','April','May',' June']

In [ ]:
print(df)

### Add column "Total Sell" to count total of all month and "Average Sell"

In [ ]:
header=['Product_NO','Product_Name','January','February','March','April','May',' June']

In [ ]:
df=pd.read_csv("e:\\sqlite3\\product_selling.csv")

In [ ]:
row=df.values.tolist()

In [ ]:
total=[sum(i[2::]) for i in row]

In [ ]:
average=[int(sum(i[2::])/6) for i in row]

In [ ]:
df = pd.DataFrame(row,columns=header)

In [ ]:
df['Total']=total

In [ ]:
df['Average']=average

In [ ]:
print(df)

### Add 2 row at the end.

In [ ]:
new_rows = {'Product No': '', 'Product Name': '', 'January': '', 'February': '', 'March': '', 'April': '', 'May': '', 'June': ''}

In [ ]:
for i in range(2):
    for column in new_rows:
        new_rows[column] = input(f"Enter value for {column}: ")

In [ ]:
df = df.append(new_rows, ignore_index=True)

In [ ]:
df.reset_index(drop=True, inplace=True)

### Add 2 row at the end.

In [ ]:
new_rows = {'Product No': '', 'Product Name': '', 'January': '', 'February': '', 'March': '', 'April': '', 'May': '', 'June': ''}
for i in range(2):
    for column in new_rows:
        new_rows[column] = input(f"Enter value for {column}: ")
df = df.append(new_rows, ignore_index=True)
df.reset_index(drop=True, inplace=True)

### add 2 row after 3rd row

In [ ]:
header=['Product No', 'Product Name', 'January', 'February', 'March', 'April', 'May', 'June','Total','Average']
df.loc[2.5] = [15, 'mouse',1200,1300,3000,600,1500,2500,1250,300.8333333]
df = df.sort_index().reset_index(drop=True)
df.loc[3.5] = [16, 'power_cable',200,500,800,1500,8000,3500,2345,3600.333333]
df = df.sort_index().reset_index(drop=True)

# Print first 5 row.

In [ ]:
print("FIRST FIVE ROWS")
print(df.head())

In [ ]:
#Print Last 5 row.

In [ ]:
print("LAST 5 ROWS")
print(df.tail())

In [ ]:
# Print row 6 to 10.

In [ ]:
print("ROW BETWEEN 6 TO 10")
print(df.loc[6:10])

In [ ]:
#Print only product name.

In [ ]:
print(df["Product Name"])

In [ ]:

# Print sell of January month with product id and product name.

In [ ]:
print(df[["Product No", "Product Name", "January"]])

In [ ]:
#  Print only those product id , product name where january sell is > 5000 and February sell is >8000

In [ ]:
print(" record based on condition")
df["January"] = pd.to_numeric(df["January"])
df["February"] = pd.to_numeric(df["February"])

In [ ]:
df2 = df[(df["January"] > 5000) & (df["February"] > 8000)]
print(df2[["Product No", "Product Name"]])

### Print record in sorting order of Product name.

In [ ]:
print(df.sort_values(by="Product Name"))

### Display only odd index number column record.

In [ ]:
print("odd rows")
print(df.iloc[1::2])
print("even row")

### Display alternate row.

In [ ]:
print(df.iloc[::2])